@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>


<section class="col-md-12 mt-5 p-5 ">
    <div class="text-center tm-bg-dark">
        <h2 class="tm-text-blue mb-4">About Me</h2>
        <p class="mb-4">
            You are allowed to modify and use this gadgets for
            your personal or business work Help.
        </p>
        <p class="mb-4">
            Thank you.
        </p>

    </div>
</section>
